<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>TTS</string>
	<key>connections</key>
	<dict>
		<key>02B16B8D-0AFB-4CEA-919C-BD709B4251B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63D64EED-2F8A-452D-9A90-BC05864B14DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>095C3FC5-4F93-4CA7-98A5-1E397564B2EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E9D5EA9-CD9C-4A49-80B6-BB0C6ED2C3F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D126803-75F2-48B9-8467-5C7F139B76E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4AB769-F9C3-4931-BDD4-458ED9AA4818</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0ECF4090-69EF-420B-B3DF-551B1B550099</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE506605-CDB7-4366-915D-28BE94002E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13237123-52F7-4C2D-A650-C50031390853</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50505E35-9763-4E6B-9E2B-77994E51194A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>236F59C1-9C38-48CF-B9C2-9C3B8D7DC5FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76059811-80D1-4654-8065-55A356C86724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27533B53-A736-403D-AE75-4901CEED245A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F77ACAF7-C387-4AC9-8247-DBE66624A519</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17152EF1-0603-4113-A9BB-6BA0AEE7206A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A751EAC3-707F-44A0-BCE8-5B337DE05171</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7857C82A-5A54-4D61-8975-37CBA2654A29</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2ABB3DC3-1676-4E07-AC3C-C9CBC7B658ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2ABB3DC3-1676-4E07-AC3C-C9CBC7B658ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>58A64325-3DE5-4834-833D-F8358D183F44</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2762F4B4-157B-4741-808F-B07DC8E65409</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AE9855D-563D-42BE-9774-371E139CF6E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ABB3DC3-1676-4E07-AC3C-C9CBC7B658ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D78BAB93-FACB-45DB-81C0-9505B98F2D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7857C82A-5A54-4D61-8975-37CBA2654A29</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>02B16B8D-0AFB-4CEA-919C-BD709B4251B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AE9855D-563D-42BE-9774-371E139CF6E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81D8BC07-07C6-4CBB-93F6-9667E877F997</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CBC7AB6-7B4E-4CE9-ADF8-55B34DD69B84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3276B1B-B1A4-4455-9DDB-DC1E37141B0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D9DDB6C-99AA-4B4C-8219-FCBA29EE3831</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E045E9C6-3708-49A6-A7C3-2BB165683F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A4479B8-FC6E-46C5-878A-027548F16A00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75C7B73F-8869-47D6-AA28-2966AF23233A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50505E35-9763-4E6B-9E2B-77994E51194A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB676835-CF64-48BF-8789-FFB6FFA0862E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E9D5EA9-CD9C-4A49-80B6-BB0C6ED2C3F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D199D91D-BD87-4BAC-9030-38058C03AF59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63D64EED-2F8A-452D-9A90-BC05864B14DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A8153BE-D4DA-47E4-B1F7-4EF331FDAE53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B800D9-87B9-4F30-9722-ADA91F23771B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F817629D-2D52-4C77-B091-EAC8274A0350</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72BF62CA-8F0A-47E5-9629-C1A7D76E27FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87BEC375-663E-42D1-B5B4-94BB99B02199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75C7B73F-8869-47D6-AA28-2966AF23233A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F77ACAF7-C387-4AC9-8247-DBE66624A519</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76059811-80D1-4654-8065-55A356C86724</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27533B53-A736-403D-AE75-4901CEED245A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7774DC0F-7DF8-4686-B3E7-DD36535A4DF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E9D5EA9-CD9C-4A49-80B6-BB0C6ED2C3F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81D8BC07-07C6-4CBB-93F6-9667E877F997</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A8153BE-D4DA-47E4-B1F7-4EF331FDAE53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE506605-CDB7-4366-915D-28BE94002E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BEF2B2E-4568-4121-B085-E7F6E1E4CE90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADEBC7F5-2B45-4926-8F74-17383DA43678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72BF62CA-8F0A-47E5-9629-C1A7D76E27FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A751EAC3-707F-44A0-BCE8-5B337DE05171</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADEBC7F5-2B45-4926-8F74-17383DA43678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D9DDB6C-99AA-4B4C-8219-FCBA29EE3831</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4DB4322-5C2C-4564-AA45-5896DB06238C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C887CA84-8173-42FA-A841-566BB734550E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7DEB2D7-A631-45D3-A9BF-8719BB381E1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE243844-0B7D-4241-84F3-EAE037768577</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C887CA84-8173-42FA-A841-566BB734550E</key>
		<array/>
		<key>CD4AB769-F9C3-4931-BDD4-458ED9AA4818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>236F59C1-9C38-48CF-B9C2-9C3B8D7DC5FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D199D91D-BD87-4BAC-9030-38058C03AF59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D126803-75F2-48B9-8467-5C7F139B76E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D78BAB93-FACB-45DB-81C0-9505B98F2D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB676835-CF64-48BF-8789-FFB6FFA0862E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED16E8D4-7492-4EBA-B82A-D183E85B8076</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E635BF62-A5E2-46EB-800B-2C4E9A32BEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50505E35-9763-4E6B-9E2B-77994E51194A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED16E8D4-7492-4EBA-B82A-D183E85B8076</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BEF2B2E-4568-4121-B085-E7F6E1E4CE90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ECF4090-69EF-420B-B3DF-551B1B550099</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5A754BC-1A4F-4530-AD11-B5B0E4C59C5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE506605-CDB7-4366-915D-28BE94002E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F77ACAF7-C387-4AC9-8247-DBE66624A519</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F817629D-2D52-4C77-B091-EAC8274A0350</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D78BAB93-FACB-45DB-81C0-9505B98F2D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE243844-0B7D-4241-84F3-EAE037768577</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A751EAC3-707F-44A0-BCE8-5B337DE05171</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TTS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say-hk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2762F4B4-157B-4741-808F-B07DC8E65409</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>words</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AE9855D-563D-42BE-9774-371E139CF6E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say-cn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A4479B8-FC6E-46C5-878A-027548F16A00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>words</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>75C7B73F-8869-47D6-AA28-2966AF23233A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say-it</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7DEB2D7-A631-45D3-A9BF-8719BB381E1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>words</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE243844-0B7D-4241-84F3-EAE037768577</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say-en</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>72B800D9-87B9-4F30-9722-ADA91F23771B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>words</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F817629D-2D52-4C77-B091-EAC8274A0350</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>voice</key>
					<string>zh-HK-HiuMaanNeural</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81D8BC07-07C6-4CBB-93F6-9667E877F997</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>z selected speak</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7774DC0F-7DF8-4686-B3E7-DD36535A4DF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>2D9656DF-1464-4C50-AF73-8CB28525C24C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/tts
python "words_count.py" "{query}"


# echo -n $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D126803-75F2-48B9-8467-5C7F139B76E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># query="{query}"

# query="{query}"
# echo -n $query

# franc "$query"
echo "$words" | franc --min-length $wordsCount</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>236F59C1-9C38-48CF-B9C2-9C3B8D7DC5FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>voice</key>
					<string>zh-CN-XiaoyiNeural</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F77ACAF7-C387-4AC9-8247-DBE66624A519</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:wordsCount}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>en</string>
						<key>uid</key>
						<string>58A64325-3DE5-4834-833D-F8358D183F44</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>cmn</string>
						<key>outputlabel</key>
						<string>zh</string>
						<key>uid</key>
						<string>17152EF1-0603-4113-A9BB-6BA0AEE7206A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>ita</string>
						<key>outputlabel</key>
						<string>it</string>
						<key>uid</key>
						<string>7857C82A-5A54-4D61-8975-37CBA2654A29</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>en</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>27533B53-A736-403D-AE75-4901CEED245A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(\*+|\#+)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5E9D5EA9-CD9C-4A49-80B6-BB0C6ED2C3F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>words</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D199D91D-BD87-4BAC-9030-38058C03AF59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>language</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>76059811-80D1-4654-8065-55A356C86724</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>wordsCount</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD4AB769-F9C3-4931-BDD4-458ED9AA4818</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>myaudio.mp3</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>23B2F02B-AA90-4D87-B537-DB3B0EAD672D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>voice</key>
					<string>it-IT-IsabellaNeural</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A751EAC3-707F-44A0-BCE8-5B337DE05171</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $voice
export PATH=/opt/homebrew/bin:$PATH


if pgrep mpv &gt; /dev/null
then
    killall mpv
fi

. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/tts

edge-playback --voice $voice --text "$words" --write-media "/Users/yamlam/Documents/obsdiannote/Scripts/Alfred.alfredpreferences/workflows/user.workflow.1A21CA24-928A-4385-9DBC-B226BE1E67AA/myaudio.mp3"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0ECF4090-69EF-420B-B3DF-551B1B550099</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>095C3FC5-4F93-4CA7-98A5-1E397564B2EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:words}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:wordsCount}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>2</integer>
						<key>matchstring</key>
						<string>6</string>
						<key>outputlabel</key>
						<string>Microsoft</string>
						<key>uid</key>
						<string>7857C82A-5A54-4D61-8975-37CBA2654A29</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Youdao</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2ABB3DC3-1676-4E07-AC3C-C9CBC7B658ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>voice</key>
					<string>en-GB-RyanNeural</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D78BAB93-FACB-45DB-81C0-9505B98F2D07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:$PATH

# stop prev
echo '{ "command": ["set_property", "pause", true] }' | socat - /tmp/mpvsocket

mpv --input-ipc-server=/tmp/mpvsocket "/Users/yamlam/Documents/obsdiannote/Scripts/Alfred.alfredpreferences/workflows/user.workflow.1A21CA24-928A-4385-9DBC-B226BE1E67AA/myaudio.mp3"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE506605-CDB7-4366-915D-28BE94002E04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>63D64EED-2F8A-452D-9A90-BC05864B14DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl --location 'https://dict.youdao.com/dictvoice?audio={query}&amp;type=1' \
--output myaudio.mp3</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A8153BE-D4DA-47E4-B1F7-4EF331FDAE53</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:words}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>02B16B8D-0AFB-4CEA-919C-BD709B4251B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node /Users/yamlam/Documents/obsdiannote/Scripts/notify_translate.mjs "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C887CA84-8173-42FA-A841-566BB734550E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/base

python "/Users/yamlam/Documents/obsdiannote/Scripts/translate.py" --text "{query}" --version javascript</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4DB4322-5C2C-4564-AA45-5896DB06238C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>z translate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>13237123-52F7-4C2D-A650-C50031390853</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Sound Repeat</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sound Repeat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5A754BC-1A4F-4530-AD11-B5B0E4C59C5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>z selected speak</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E045E9C6-3708-49A6-A7C3-2BB165683F6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string>🔊</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>{var:translatedText}</string>
				<key>title</key>
				<string>{var:detectedSourceLanguage} &gt;&gt; {var:targetLanguage}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>ADEBC7F5-2B45-4926-8F74-17383DA43678</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:sourceText}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D9DDB6C-99AA-4B4C-8219-FCBA29EE3831</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/base

python "/Users/yamlam/Documents/obsdiannote/Scripts/translate.py" --text "{query}" --version alfred</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB676835-CF64-48BF-8789-FFB6FFA0862E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zTran</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E635BF62-A5E2-46EB-800B-2C4E9A32BEA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># stop prev
echo '{ "command": ["set_property", "pause", true] }' | socat - /tmp/mpvsocket</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3276B1B-B1A4-4455-9DDB-DC1E37141B0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Sound Stop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sound Stop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CBC7AB6-7B4E-4CE9-ADF8-55B34DD69B84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>87BEC375-663E-42D1-B5B4-94BB99B02199</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>detectedSourceLanguage</key>
					<string> {var:split2}</string>
					<key>targetLanguage</key>
					<string> {var:split3}</string>
					<key>translatedText</key>
					<string> {var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9BEF2B2E-4568-4121-B085-E7F6E1E4CE90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|||</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>ED16E8D4-7492-4EBA-B82A-D183E85B8076</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>sourceText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>50505E35-9763-4E6B-9E2B-77994E51194A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:translatedText}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>72BF62CA-8F0A-47E5-9629-C1A7D76E27FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>微软版本: (免费试用)
https://azure.microsoft.com/zh-cn/services/cognitive-services/text-to-speech/#features
TTS massage wss://

讯飞: (在线试用)
https://www.xfyun.cn/services/online_tts#anchor4503211
TTS massage wss://

百度等TTS 介绍 
https://www.zhihu.com/question/28269987</string>
	<key>uidata</key>
	<dict>
		<key>02B16B8D-0AFB-4CEA-919C-BD709B4251B9</key>
		<dict>
			<key>note</key>
			<string>pass words</string>
			<key>xpos</key>
			<real>1440</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>095C3FC5-4F93-4CA7-98A5-1E397564B2EC</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>0D126803-75F2-48B9-8467-5C7F139B76E5</key>
		<dict>
			<key>note</key>
			<string>words_count.py</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>0ECF4090-69EF-420B-B3DF-551B1B550099</key>
		<dict>
			<key>note</key>
			<string>make audio</string>
			<key>xpos</key>
			<real>1700</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>13237123-52F7-4C2D-A650-C50031390853</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Trans: Access {query} from url</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>915</real>
		</dict>
		<key>236F59C1-9C38-48CF-B9C2-9C3B8D7DC5FE</key>
		<dict>
			<key>note</key>
			<string>detect language</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>23B2F02B-AA90-4D87-B537-DB3B0EAD672D</key>
		<dict>
			<key>xpos</key>
			<real>1895</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>27533B53-A736-403D-AE75-4901CEED245A</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>2762F4B4-157B-4741-808F-B07DC8E65409</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>2ABB3DC3-1676-4E07-AC3C-C9CBC7B658ED</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>2AE9855D-563D-42BE-9774-371E139CF6E9</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>2CBC7AB6-7B4E-4CE9-ADF8-55B34DD69B84</key>
		<dict>
			<key>xpos</key>
			<real>1695</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>2D9656DF-1464-4C50-AF73-8CB28525C24C</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>2D9DDB6C-99AA-4B4C-8219-FCBA29EE3831</key>
		<dict>
			<key>note</key>
			<string>var:sourceText</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1055</real>
		</dict>
		<key>3A4479B8-FC6E-46C5-878A-027548F16A00</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>50505E35-9763-4E6B-9E2B-77994E51194A</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>5E9D5EA9-CD9C-4A49-80B6-BB0C6ED2C3F2</key>
		<dict>
			<key>note</key>
			<string>Replace # *</string>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>63D64EED-2F8A-452D-9A90-BC05864B14DD</key>
		<dict>
			<key>xpos</key>
			<real>1540</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>72B800D9-87B9-4F30-9722-ADA91F23771B</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>72BF62CA-8F0A-47E5-9629-C1A7D76E27FE</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>75C7B73F-8869-47D6-AA28-2966AF23233A</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>76059811-80D1-4654-8065-55A356C86724</key>
		<dict>
			<key>note</key>
			<string>Arg &gt; 'language'</string>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>7774DC0F-7DF8-4686-B3E7-DD36535A4DF1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>TTS: Access {query} from url</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>81D8BC07-07C6-4CBB-93F6-9667E877F997</key>
		<dict>
			<key>note</key>
			<string>set voice
zh-HK-HiuMaanNeural</string>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>87BEC375-663E-42D1-B5B4-94BB99B02199</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>8A8153BE-D4DA-47E4-B1F7-4EF331FDAE53</key>
		<dict>
			<key>xpos</key>
			<real>1695</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>9BEF2B2E-4568-4121-B085-E7F6E1E4CE90</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>1095</real>
		</dict>
		<key>A751EAC3-707F-44A0-BCE8-5B337DE05171</key>
		<dict>
			<key>note</key>
			<string>set voice
it-IT-IsabellaNeural</string>
			<key>xpos</key>
			<real>1310</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>ADEBC7F5-2B45-4926-8F74-17383DA43678</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>B4DB4322-5C2C-4564-AA45-5896DB06238C</key>
		<dict>
			<key>note</key>
			<string>Detect Langauge and Translate
(version:Javascript)</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>B7DEB2D7-A631-45D3-A9BF-8719BB381E1E</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C887CA84-8173-42FA-A841-566BB734550E</key>
		<dict>
			<key>note</key>
			<string>notify.mjs</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>CD4AB769-F9C3-4931-BDD4-458ED9AA4818</key>
		<dict>
			<key>note</key>
			<string>Arg &gt; 'wordsCount'</string>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>D199D91D-BD87-4BAC-9030-38058C03AF59</key>
		<dict>
			<key>note</key>
			<string>Arg &gt; 'words'</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>D78BAB93-FACB-45DB-81C0-9505B98F2D07</key>
		<dict>
			<key>note</key>
			<string>set voice
en-GB-RyanNeural</string>
			<key>xpos</key>
			<real>1310</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>DB676835-CF64-48BF-8789-FFB6FFA0862E</key>
		<dict>
			<key>note</key>
			<string>Detect Langauge and Translate
(version:Alfred)</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>E045E9C6-3708-49A6-A7C3-2BB165683F6B</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>E635BF62-A5E2-46EB-800B-2C4E9A32BEA3</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>ED16E8D4-7492-4EBA-B82A-D183E85B8076</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>1095</real>
		</dict>
		<key>EE7699DC-FEA4-4F77-B244-B6AEC87E4BEC</key>
		<dict>
			<key>note</key>
			<string>pass words</string>
			<key>xpos</key>
			<real>1440</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>F3276B1B-B1A4-4455-9DDB-DC1E37141B0B</key>
		<dict>
			<key>note</key>
			<string>stop audio</string>
			<key>xpos</key>
			<real>1895</real>
			<key>ypos</key>
			<real>1085</real>
		</dict>
		<key>F5A754BC-1A4F-4530-AD11-B5B0E4C59C5F</key>
		<dict>
			<key>xpos</key>
			<real>1695</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>F77ACAF7-C387-4AC9-8247-DBE66624A519</key>
		<dict>
			<key>note</key>
			<string>set voice
zh-CN-XiaoyiNeural</string>
			<key>xpos</key>
			<real>1310</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>F817629D-2D52-4C77-B091-EAC8274A0350</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>FE243844-0B7D-4241-84F3-EAE037768577</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>FE506605-CDB7-4366-915D-28BE94002E04</key>
		<dict>
			<key>note</key>
			<string>play audio</string>
			<key>xpos</key>
			<real>1890</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/yamlam/opt/anaconda3/envs/base/bin:/Users/yamlam/.nvm/versions/node/v20.0.0/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
