<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Battery</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0ED04571-8DF3-410F-B49A-2AC7E2A7E7F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C522288-32C1-46A1-8147-FC7E5BCF33B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C522288-32C1-46A1-8147-FC7E5BCF33B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94FDF80C-FDA7-4E94-B03F-C5DFD5A6BB50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CAD2E84-D961-4860-9F14-5BC7344F5338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67CF8BCB-F6F9-4F67-B74F-D83FBC2EBACE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F942224-E006-48D9-AE42-75CC2FB5F0A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F942224-E006-48D9-AE42-75CC2FB5F0A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C522288-32C1-46A1-8147-FC7E5BCF33B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD3DE098-B766-4099-B665-2BE79997C3A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ED04571-8DF3-410F-B49A-2AC7E2A7E7F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>carllx</string>
	<key>description</key>
	<string>limit battery for 80 or 100</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Battery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>80battery</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD3DE098-B766-4099-B665-2BE79997C3A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {var:volume}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>94FDF80C-FDA7-4E94-B03F-C5DFD5A6BB50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>volume</key>
					<string>80</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0ED04571-8DF3-410F-B49A-2AC7E2A7E7F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># query="{query}"
export SUDO_ASKPASS=/usr/local/bin/askpass

# 只适用于提取 psw 到变量, 不适用于下面执行的命令
# password=$(security find-generic-password -a carllxO -s batteryAlfred -w)

password=$(askpass)

echo "$password" | sudo -A bclm write "$volume"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1C522288-32C1-46A1-8147-FC7E5BCF33B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>dd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CAD2E84-D961-4860-9F14-5BC7344F5338</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>100battery</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67CF8BCB-F6F9-4F67-B74F-D83FBC2EBACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>volume</key>
					<string>100</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F942224-E006-48D9-AE42-75CC2FB5F0A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0ED04571-8DF3-410F-B49A-2AC7E2A7E7F9</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>1C522288-32C1-46A1-8147-FC7E5BCF33B5</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>67CF8BCB-F6F9-4F67-B74F-D83FBC2EBACE</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8CAD2E84-D961-4860-9F14-5BC7344F5338</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>8F942224-E006-48D9-AE42-75CC2FB5F0A3</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>94FDF80C-FDA7-4E94-B03F-C5DFD5A6BB50</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>BD3DE098-B766-4099-B665-2BE79997C3A0</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
