<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Zotero_actions</string>
	<key>connections</key>
	<dict>
		<key>0BC7739B-CB0E-43D7-AD18-B92A81AE22CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7273A342-3CCB-4D46-99FF-81F2FC6976AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>194204CE-1EEE-430A-AAE7-54B846E0C19C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35CDE059-BBA0-4FAE-824D-0B2B2166C114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2103840B-A682-4C10-ACF7-4CC2AD762866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9470E1BD-AF9D-456B-A649-BDF2D7EC5F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>956DD093-B6FC-4C70-BF5B-944021EF31A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25183B4D-2CC2-4DD6-8123-1F3A1156390D</key>
		<array/>
		<key>35CDE059-BBA0-4FAE-824D-0B2B2166C114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C07D54BD-2A22-491A-95F1-14830FB859F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C852848-1C07-4A74-8FCE-8E8A66E97946</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2103840B-A682-4C10-ACF7-4CC2AD762866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AD3316F-61D2-4368-839E-3DCE76426D9D</key>
		<array/>
		<key>5B43EB3B-8137-4741-AF55-8DE933B9A905</key>
		<array/>
		<key>5BBB0701-13F8-432F-9EF7-941093453A4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE1355DD-9DD7-4D18-BFB1-9B9184D96F96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DA1BC22-54DB-4883-BB6A-CAE8461E7EBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>876D1343-56A0-4709-A3E9-C2F6B0D7232F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7273A342-3CCB-4D46-99FF-81F2FC6976AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DA1BC22-54DB-4883-BB6A-CAE8461E7EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82F2B665-36E3-4953-BFC7-2767C0F978EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E65D5069-B9A3-421C-BF7B-729BDED75157</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86A5C248-E18E-475D-AB5B-C6D84B54D59D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BC7739B-CB0E-43D7-AD18-B92A81AE22CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>876D1343-56A0-4709-A3E9-C2F6B0D7232F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82F2B665-36E3-4953-BFC7-2767C0F978EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9356910B-2511-485E-96DE-15488711DF69</key>
		<array/>
		<key>B1F67C72-2883-4D0A-A80B-8A9AC23F1ADE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>194204CE-1EEE-430A-AAE7-54B846E0C19C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C07D54BD-2A22-491A-95F1-14830FB859F7</key>
		<array/>
		<key>D5414BCF-A611-4BB8-BE79-0E8C5463B78E</key>
		<array/>
		<key>E4B5DB7B-846E-4693-A21E-0E97CC77E0A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDCCA89E-2129-47F5-8396-F2358B2C62B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4FD9490-EA4F-4BCC-9A2A-32D0E8586659</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE1355DD-9DD7-4D18-BFB1-9B9184D96F96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E65D5069-B9A3-421C-BF7B-729BDED75157</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB4A2778-7C77-4E09-B935-2355E1DEE748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7283965E-EFD7-41A4-9EAE-B28B2C93EC7B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB4A2778-7C77-4E09-B935-2355E1DEE748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60D9E7FB-096D-4AF1-B15D-E710D722ACBC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB4A2778-7C77-4E09-B935-2355E1DEE748</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EA7DD345-203E-4844-BEB9-E5C79420ACE1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB4A2778-7C77-4E09-B935-2355E1DEE748</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F082A38-0D2C-4C6C-B4F1-003E3DA63FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F725DACD-F0DB-4714-A20E-E4DAC78A9BF9</key>
		<array/>
		<key>F94410F0-B0DA-4267-9B5F-FE73AE79D059</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3378AEDC-811B-4D18-840F-34333CF6FA4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDCCA89E-2129-47F5-8396-F2358B2C62B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C852848-1C07-4A74-8FCE-8E8A66E97946</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE969D2D-F1A7-4D5C-AD8C-52938F580306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1F67C72-2883-4D0A-A80B-8A9AC23F1ADE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ico_wos</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4B5DB7B-846E-4693-A21E-0E97CC77E0A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ico_zotero</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B830CBD5-3A75-44B0-B89A-31F44720B1B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>carllx</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>carllx_Zotero</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do_submenu("Zotero", "Tools", "Developer", "Run JavaScript")
end alfred_script

on do_submenu(app_name, menu_name, menu_item, submenu_item)
	try
		-- bring the target application to the front
		tell application app_name
			activate
		end tell
		tell application "System Events"
			tell process app_name
				tell menu bar 1
					tell menu bar item menu_name
						tell menu menu_name
							tell menu item menu_item
								tell menu menu_item
									click menu item submenu_item
                                    -- type, script
                                    -- delay 1 --
                                    -- keystroke "console.log('ddd');"
                                    -- Run script --
                                    -- keystroke "r" using command down
                                    -- Close script window --
                                    -- keystroke "w" using command down
								end tell
							end tell
						end tell
					end tell
				end tell
			end tell
		end tell
		-- return true
	on error error_message
		return error_message
	end try
end do_submenu</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B830CBD5-3A75-44B0-B89A-31F44720B1B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zj</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Zotero Script</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ico_zotero</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C77B9BC-6926-4389-9B28-20709CB7C200</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Assign query from clipboard using correct syntax for osascript
# query=$(osascript -e 'the clipboard as text')
# clipboard=$(pbpaste)
# clipboard=$(pbpaste | perl -pe 's/[\000-\037]+//g' | perl -MURI::Escape -e 'print uri_escape($_)')
clipboard=$(pbpaste | base64)

# Activate conda environment efficiently
. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/GPT

# Navigate to the correct directory with proper quoting
cd "/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/"

# Execute Python script with correct variable interpolation
res=$(python TokenCalculator.py "$clipboard")

# Output result to console and display notification
echo "$res"

osascript -e 'display notification "Clipboard content was '"$res"' tokens." with title "TokenCalculator" sound name "Frog"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AD3316F-61D2-4368-839E-3DCE76426D9D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>ObsidianPandoc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E4FD9490-EA4F-4BCC-9A2A-32D0E8586659</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'display notification "'$sid'" with title "'$keyword'" sound name "Frog"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>929D4CCD-F3C9-48EA-AC0C-11353B791110</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># input="/Users/yamlam/Documents/obsdiannote/研究分支01基于MPEG标准的点云视频压缩编码器.md"
# input="/Users/yamlam/Documents/obsdiannote/&lt;0001f9ea&gt; Script Labs/Thematic/Floating signifiers"
input="{query}"
fileName=$(basename "$input")
outDir="/Users/yamlam/Downloads"
output="$outDir/${fileName%.*}.docx"
pandoc "$input"\
 --bibliography "/Users/yamlam/Documents/obsdiannote/zoteropapers/CSL/MyLibrary.bib"\
 --citeproc --csl "/Users/yamlam/Documents/obsdiannote/zoteropapers/CSL/americanjournalofscience.csl"\
 -o "$output"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE1355DD-9DD7-4D18-BFB1-9B9184D96F96</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pandoc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Export Docx</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BBB0701-13F8-432F-9EF7-941093453A4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/------- COPY CITATION IN --------\
dir_script_py= {var:dir_script_py}
num_of_records= {var:num_of_records}
query={query}
keyword= {var:keyword}
sid={var:sid}
query_id= {var:query_id}
\---------------------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>9470E1BD-AF9D-456B-A649-BDF2D7EC5F2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>Refleshtor</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>956DD093-B6FC-4C70-BF5B-944021EF31A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Activate conda environment efficiently
. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/GPT

# Navigate to the correct directory with proper quoting
cd "/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/"

# Execute Python script with correct variable interpolation
res=$(python "wos.2.getRecord.py" "$keyword" "$query_id" "$sid" $num_of_records)

# Output result to console and display notification
echo "$res"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2103840B-A682-4C10-ACF7-4CC2AD762866</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>saveRecord</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Require record.txt from Wos</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ico_wos</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Activate conda environment efficiently
. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/GPT

# Navigate to the correct directory with proper quoting
cd "/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/"

# Execute Python script with correct variable interpolation
res=$(python 'wos.1.getQueryID.py' "$sid" "$keyword")

# Output result to console and display notification
echo "$res"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDCCA89E-2129-47F5-8396-F2358B2C62B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C852848-1C07-4A74-8FCE-8E8A66E97946</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>keyword</key>
					<string>{query}</string>
					<key>sid</key>
					<string>['EUW1ED0DC3pXzC60Skws1vt1VBLen']</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E4B5DB7B-846E-4693-A21E-0E97CC77E0A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Activate conda environment efficiently
. /Users/yamlam/opt/anaconda3/bin/activate &amp;&amp; conda activate /Users/yamlam/opt/anaconda3/envs/GPT

# Navigate to the correct directory with proper quoting
cd "${dir_script_py}"
# cd "/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex"

# Run Python script and capture output 
echo $(python 'wos.0.get_sid.02.py')</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5414BCF-A611-4BB8-BE79-0E8C5463B78E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>keyword</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9356910B-2511-485E-96DE-15488711DF69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>sid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F725DACD-F0DB-4714-A20E-E4DAC78A9BF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>Thematic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 '/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/Dev/src/updateRecordsToScriptFilter.py'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>get Thematic</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B1F67C72-2883-4D0A-A80B-8A9AC23F1ADE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bi_gen_record</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate biblio report</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE969D2D-F1A7-4D5C-AD8C-52938F580306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/yamlam/Documents/obsdiannote/Scripts/Alfred.alfredpreferences/workflows/user.workflow.15B8C3C4-42F1-422D-8DEF-1EB6EC0FDCD1/Alfred_generate_report.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35CDE059-BBA0-4FAE-824D-0B2B2166C114</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Report</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C07D54BD-2A22-491A-95F1-14830FB859F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>record</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>194204CE-1EEE-430A-AAE7-54B846E0C19C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>R_function</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3378AEDC-811B-4D18-840F-34333CF6FA4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Thematic</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F94410F0-B0DA-4267-9B5F-FE73AE79D059</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3F082A38-0D2C-4C6C-B4F1-003E3DA63FA3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/yamlam/Documents/obsdiannote/Scripts/Alfred.alfredpreferences/workflows/user.workflow.15B8C3C4-42F1-422D-8DEF-1EB6EC0FDCD1/Alfred_query_papers_by_fieldTags.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB4A2778-7C77-4E09-B935-2355E1DEE748</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"e2b0c265b474d297782398b10ee0ed7873c5febd.png","title":"by AU","arg":"AU","subtitle":"query papers by author"},{"imagefile":"c8046752f2e6a2e9a87aa2be28d493d98a0368e1.png","title":"by ID","arg":"ID","subtitle":"query papers by ID (Keywords Plus)"},{"imagefile":"b5c92cb9582e4edafb7ddd9d86f952ab446dfdb8.png","title":"by DE","arg":"DE","subtitle":"query papers by DE"},{"imagefile":"9935cb42b38bcb6cdd9d3b31f55c7b8d2d239335.png","title":"by CL?","arg":"CL","subtitle":"query papers by DE"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>define the type of query.</string>
				<key>title</key>
				<string>ID:fieldTags</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>876D1343-56A0-4709-A3E9-C2F6B0D7232F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>Thematic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$Searching={query}
python3 '/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/Dev/src/updateRecordsToScriptFilter.py'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>get Thematic</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7273A342-3CCB-4D46-99FF-81F2FC6976AF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>AU</string>
						<key>outputlabel</key>
						<string>AU</string>
						<key>uid</key>
						<string>7283965E-EFD7-41A4-9EAE-B28B2C93EC7B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ID</string>
						<key>outputlabel</key>
						<string>ID</string>
						<key>uid</key>
						<string>60D9E7FB-096D-4AF1-B15D-E710D722ACBC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>DE</string>
						<key>outputlabel</key>
						<string>DE</string>
						<key>uid</key>
						<string>EA7DD345-203E-4844-BEB9-E5C79420ACE1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E65D5069-B9A3-421C-BF7B-729BDED75157</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bi_query</string>
				<key>subtext</key>
				<string>ex: 'LI Z, SANDOR C'</string>
				<key>text</key>
				<string>query papers by string and fieldTags</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86A5C248-E18E-475D-AB5B-C6D84B54D59D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Searching</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0BC7739B-CB0E-43D7-AD18-B92A81AE22CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Thematic</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6DA1BC22-54DB-4883-BB6A-CAE8461E7EBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>fieldTags</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>82F2B665-36E3-4953-BFC7-2767C0F978EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>Obsidian_bi_requery</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5B43EB3B-8137-4741-AF55-8DE933B9A905</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/yamlam/Library/Application Support/Alfred/Alfred.alfredpreferences/workflows/user.workflow.15B8C3C4-42F1-422D-8DEF-1EB6EC0FDCD1/Alfred_query_functions.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25183B4D-2CC2-4DD6-8123-1F3A1156390D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0BC7739B-CB0E-43D7-AD18-B92A81AE22CC</key>
		<dict>
			<key>note</key>
			<string>var:Searching</string>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>1605</real>
		</dict>
		<key>0C77B9BC-6926-4389-9B28-20709CB7C200</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>194204CE-1EEE-430A-AAE7-54B846E0C19C</key>
		<dict>
			<key>note</key>
			<string>var:Record (seleted)</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>1345</real>
		</dict>
		<key>2103840B-A682-4C10-ACF7-4CC2AD762866</key>
		<dict>
			<key>note</key>
			<string>queryRecords</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>25183B4D-2CC2-4DD6-8123-1F3A1156390D</key>
		<dict>
			<key>note</key>
			<string>query_function(Rscript)</string>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>1745</real>
		</dict>
		<key>3378AEDC-811B-4D18-840F-34333CF6FA4C</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>1440</real>
		</dict>
		<key>35CDE059-BBA0-4FAE-824D-0B2B2166C114</key>
		<dict>
			<key>note</key>
			<string>query_function(Rscript)</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>3C852848-1C07-4A74-8FCE-8E8A66E97946</key>
		<dict>
			<key>note</key>
			<string>query_id</string>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>3F082A38-0D2C-4C6C-B4F1-003E3DA63FA3</key>
		<dict>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>1555</real>
		</dict>
		<key>4AD3316F-61D2-4368-839E-3DCE76426D9D</key>
		<dict>
			<key>note</key>
			<string>calTokens</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>5B43EB3B-8137-4741-AF55-8DE933B9A905</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>with arg (Thematic dep on Note?)</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>1710</real>
		</dict>
		<key>5BBB0701-13F8-432F-9EF7-941093453A4C</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>6DA1BC22-54DB-4883-BB6A-CAE8461E7EBE</key>
		<dict>
			<key>note</key>
			<string>var:Thematic</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>1605</real>
		</dict>
		<key>7273A342-3CCB-4D46-99FF-81F2FC6976AF</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>1575</real>
		</dict>
		<key>82F2B665-36E3-4953-BFC7-2767C0F978EE</key>
		<dict>
			<key>note</key>
			<string>var:Function</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>1605</real>
		</dict>
		<key>86A5C248-E18E-475D-AB5B-C6D84B54D59D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1575</real>
		</dict>
		<key>876D1343-56A0-4709-A3E9-C2F6B0D7232F</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1575</real>
		</dict>
		<key>929D4CCD-F3C9-48EA-AC0C-11353B791110</key>
		<dict>
			<key>note</key>
			<string>get sid #2</string>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>9356910B-2511-485E-96DE-15488711DF69</key>
		<dict>
			<key>note</key>
			<string>var:keyword</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>9470E1BD-AF9D-456B-A649-BDF2D7EC5F2B</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>956DD093-B6FC-4C70-BF5B-944021EF31A1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>B1F67C72-2883-4D0A-A80B-8A9AC23F1ADE</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>B830CBD5-3A75-44B0-B89A-31F44720B1B1</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>C07D54BD-2A22-491A-95F1-14830FB859F7</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>D5414BCF-A611-4BB8-BE79-0E8C5463B78E</key>
		<dict>
			<key>note</key>
			<string>get sid #2</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>E4B5DB7B-846E-4693-A21E-0E97CC77E0A6</key>
		<dict>
			<key>note</key>
			<string>var:sid
console: 
sessionData.BasicProperties.SID</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E4FD9490-EA4F-4BCC-9A2A-32D0E8586659</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>E65D5069-B9A3-421C-BF7B-729BDED75157</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1575</real>
		</dict>
		<key>EB4A2778-7C77-4E09-B935-2355E1DEE748</key>
		<dict>
			<key>note</key>
			<string>chmod +x "....sh"
query_function(Rscript)</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>1560</real>
		</dict>
		<key>F725DACD-F0DB-4714-A20E-E4DAC78A9BF9</key>
		<dict>
			<key>note</key>
			<string>var:sid</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>F94410F0-B0DA-4267-9B5F-FE73AE79D059</key>
		<dict>
			<key>note</key>
			<string>var:Searching</string>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>1445</real>
		</dict>
		<key>FDCCA89E-2129-47F5-8396-F2358B2C62B2</key>
		<dict>
			<key>note</key>
			<string>getQueryID</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>FE1355DD-9DD7-4D18-BFB1-9B9184D96F96</key>
		<dict>
			<key>note</key>
			<string>Export docx</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>FE969D2D-F1A7-4D5C-AD8C-52938F580306</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>ico_wos</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>ico_zotero</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>dir_script_py</key>
		<string>/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex</string>
		<key>dir_script_r</key>
		<string>/Users/yamlam/Documents/obsdiannote/🧪 Script Labs/wos_biliometriex/Dev/src/</string>
		<key>num_of_records</key>
		<string>5000</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
