<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>VR Video Processing</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1FC3C52A-EAF4-467F-869A-A02A195A8CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A44C4867-949F-449D-A0C0-1F962AD8AE6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A44C4867-949F-449D-A0C0-1F962AD8AE6C</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>carllx</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VR Video Processing</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dashmerge</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mege Dash format</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1FC3C52A-EAF4-467F-869A-A02A195A8CF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/yamlam/Documents/obsdiannote/Scripts/Alfred.alfredpreferences/workflows/user.workflow.F1A00622-10C3-4F5B-BE6E-1B8FCCB91AD0/app/MergeDash_legcy.sh</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A44C4867-949F-449D-A0C0-1F962AD8AE6C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A9BB7161-AE37-41D3-9970-C9113A4CA4D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FC3C52A-EAF4-467F-869A-A02A195A8CF2</key>
		<dict>
			<key>note</key>
			<string>Upload Clipboard Image to Imgur</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A44C4867-949F-449D-A0C0-1F962AD8AE6C</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>A9BB7161-AE37-41D3-9970-C9113A4CA4D6</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
